* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1410px;
  margin: 0 auto;
}
.round {
  border-radius: 20px !important;
}
body {
  font-family: "Aeroport";
}
li {
  list-style: none;
}
a {
  text-decoration: none !important ;
}
.top{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E6E8EB;
  }
}
.left{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 82px;
    background-color: #E6E8EB;
  }
}
.right{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 82px;
    background-color: #E6E8EB;
  }
}
.bottom{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E6E8EB;
  }
}
.title {
  h2 {
    font-size: 34px;
    color: #444650;
  }
}
.btn {
  padding: 9px 20px;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn-primary {
  background-color: #1d37b5;
}
.btn-secondary {
  background-color: #bfbfbf;
}

.no-image {
  padding-top: 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e8eb;
  }
  &:last-child {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #e6e8eb;
    }
  }
}

.header {
  &__main {
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;

      &__title {
        margin-left: 22px;
        span {
          font-size: 16px;
          line-height: 130%;

          color: #b3b3b4;
        }
        h2 {
          margin-top: 5px;
          font-size: 18px;
          line-height: 135%;
          color: #444650;
          max-width: 267px;
        }
      }
    }
    &__version {
      display: flex;

      a {
        margin: 0 30px;
      }
      a {
        text-decoration: none;
        span {
          font-size: 17px;
          line-height: 23px;
          color: #959ab2;
        }
      }
    }
    &__search {
      span {
        font-size: 17px;
        line-height: 23px;
        color: #959ab2;
      }
      input {
        margin-left: 12px;
        outline: none;
        border: none;
        max-width: 80px;
        &::placeholder {
          font-size: 17px;
          line-height: 23px;
          color: #959ab2;
        }
      }
    }
    &__phone {
      margin-right: 90px;
      a {
        color: #1d37b5;
        text-decoration: none;
        span {
          margin-right: 12px;
        }
      }
    }
    &__lang {
      span {
        color: #959ab2;
        font-size: 17px;
        margin-right: 14px;
      }
      a {
        font-size: 17px;
        line-height: 23px;
        color: #959ab2;
        margin-right: 26px;
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.nav {
  background-color: #eaecf0;
  &__main {
    display: flex;
    align-items: center;
    height: 80px;

    &__burger {
      max-width: 25px;
      margin-right: 45px;
    }

    &__menu {
      display: flex;
      width: calc(100% - 70px);

      justify-content: space-between;
      li {
        a {
          font-size: 18px;
          line-height: 25px;
          color: #444650;
        }
      }
    }
  }
}

.banner {
  height: calc(100vh - 200px);
  background-image: url("../img/background.png");
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: rgba(10, 48, 119, 0.6);
  }
  &__main {
    display: flex;
    height: calc(100vh - 200px);
    flex-direction: column;
    justify-content: space-around;

    &__info {
      width: calc(100% / 12 * 6);
      h1 {
        font-size: 44px;
        line-height: 135%;
        color: #ebebeb;
      }
      p {
        padding-top: 42px;
        font-weight: 300;
        font-size: 24px;
        line-height: 33px;
        color: #ebebeb;
      }
    }
    &__links {
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        width: calc(100% / 5);

        &::before {
          content: "";
          position: absolute;
          width: calc(100% - 40px);
          height: 1px;
          top: 8px;
          left: 27px;
          border-top: 2px dotted #fff;
        }
        &:last-child {
          &::before {
            display: none;
          }
        }
        a {
          display: block;
          margin-top: 40px;
          color: #fff;
          max-width: 133px;

          &::before {
            content: "";
            border: 2px solid #fff;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

// Service

.service {
  margin-top: 80px;
  padding-bottom: 92px;
  &__main {
    &__title {
      margin-bottom: 40px;
    }
    &__menu {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        padding-bottom: 30px;

        li {
          padding-right: 80px;
          &:last-child {
            padding-right: 0;
          }
          a {
            font-size: 20px;
            line-height: 27px;
            color: #959ab2;
          }
        }
      }
      & > a {
        font-size: 17px;
        line-height: 23px;
        color: #959ab2;
        i {
          padding-left: 10px;
        }
      }
    }
    &__news {
      display: flex;
      padding-top: 35px;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #e6e8eb;
      }
      &__first {
        & img {
          border-radius: 4px;
        }
        &__title {
          margin-top: 14px;
          h4 {
            max-width: 413px;
            font-weight: 500;
            font-size: 21px;
            line-height: 130%;
            color: #444650;
          }
        }
        &__text {
          p {
            font-size: 19px;
            padding-top: 22px;
            max-width: 443px;
            line-height: 135%;
            color: #444650;
          }
        }
        &__icons {
          font-weight: 300;
          font-size: 17px;
          line-height: 23px;
          color: #959ab2;
          padding-top: 32px;

          &__date {
            margin-right: 30px;
          }
          &__views {
            margin-left: 50px;
          }
          span {
            i {
              padding-right: 8px;
            }
          }
        }
      }
      &__second {
        margin-left: 22px;
        & img {
          border-radius: 4px;
        }
        &__row {
          display: flex;
          padding-bottom: 30px;

          &__image {
            width: 152px;
            height: 120px;
            flex: 0 0 152px;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          &__info {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
              font-size: 18px;
              line-height: 125%;
              color: #444650;
            }
            &__icons {
              span {
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: #959ab2;
                i {
                  margin-right: 8px;
                }
              }
              &__date {
                margin-right: 30px;
              }
              &__views {
                margin-left: 50px;
              }
            }
          }
        }
      }
      &__cards {
        margin-left: 33px;

        &__card1 {
          width: 330px;

          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(187, 193, 221, 0.3);
          border-radius: 3px;
          padding-left: 26px;
          padding-bottom: 30px;
          position: relative;
          h3 {
            font-size: 22px;
            line-height: 30px;
            color: #444650;
            padding: 20px 0 10px 26px;
          }
          p {
            font-size: 16px;
            line-height: 125%;
            color: #b5b8c6;
            padding-bottom: 25px;
          }
          a {
            font-size: 19px;

            line-height: 26px;
            color: #1d37b5;
          }
          &__img {
            width: 118px;
            height: 111px;
            position: absolute;
            right: 14px;
            bottom: 18px;
            opacity: 0.1;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
        &__card2 {
          margin-top: 30px;
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(187, 193, 221, 0.3);
          border-radius: 3px;
          padding: 22px 0 0 26px;
          h3 {
            font-size: 22px;
            line-height: 30px;
            color: #444650;
          }
          p {
            padding-top: 12px;
            font-size: 18px;
            line-height: 125%;
            color: #444650;
            padding-bottom: 14px;
          }
          &__form {
            div {
              padding-top: 10px;
              &:first-child {
                padding-top: 0;
              }
              &:last-child {
                padding-top: 28px;
                padding-bottom: 30px;
                button {
                  margin-right: 22px;
                }
              }
              label {
                font-size: 17px;
                line-height: 125%;
                color: #b5b8c6;
                cursor: pointer;
              }
              input {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.activities {
  &__main {
    &__menu {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        padding-bottom: 30px;
        li {
          padding-right: 70px;
          a {
            font-size: 20px;
            line-height: 27px;
            color: #959ab2;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
      a {
        font-size: 17px;
        line-height: 23px;

        color: #959ab2;
      }
    }
    &__wrapper {
      display: flex;
      &__info {
        max-width: calc(100% / 12 * 6);
        p {
          font-size: 18px;
          line-height: 135%;
          color: #444650;
          margin-bottom: 30px;
        }
        span {
          font-size: 17px;
          line-height: 135%;
          /* or 23px */
          max-width: 600px;
          display: block;

          color: #959ab2;
        }
      }
      &__image {
        display: flex;
        margin-left: 37px;
        &__img1 {
          margin-right: 20px;
        }
      }
    }
    &__submenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1130px;
      height: 150px;
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(187, 193, 221, 0.3);
      border-radius: 3px;
      transform: translateY(-110px);
      li {
        text-align: center;
        padding: 35px 63px 44px 64px;
        position: relative;
        &::after {
          content: "";
          height: 100px;
          width: 1px;
          position: absolute;
          right: 0;
          top: 25px;

          background-color: #e6e8eb;
        }
      }
    }
  }
}

.international {
  padding-bottom: 130px;
  &__main {
    &__title {
      margin-bottom: 40px;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;

      &__card {
        flex: 0 0 50%;
        padding: 40px 0;
        display: flex;
        &__info {
          margin-left: 28px;
          a {
            font-size: 18px;
            line-height: 135%;
            color: #444650;
          }
          span {
            display: block;
            padding-top: 21px;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height */

            color: #959ab2;

            i {
              margin-right: 8px;
            }
          }
        }

        position: relative;
        &::before {
          content: "";
          height: 1px;
          width: 690px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #e6e8eb;
        }
        &:last-child {
          &::after {
            content: "";
            height: 1px;
            width: 690px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #e6e8eb;
          }
        }
        &:nth-child(3) {
          &::after {
            content: "";
            height: 1px;
            width: 690px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #e6e8eb;
          }
        }
      }
    }
  }
}

.vacancy {
  &__main {
    &__title {
      margin-bottom: 50px;
    }
    &__wrapper {
      display: flex;
      align-items: center;

      &__image {
        flex: 0 0 50%;
        img {
          max-width: 100%;
        }
      }
      &__card {
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(187, 193, 221, 0.3);
        border-radius: 3px;
        padding-top: 41px;
        padding-left: 41px;
        width: 570px;
        height: 355px;
        margin-left: 100px;
        &__title {
          font-weight: 500;
          font-size: 22px;
          line-height: 130%;
          color: #444650;
          padding-bottom: 60px;
          i{
            color: #1D37B5;
            margin-right: 13px;
          }
        }
        &__info{
          display: flex;
          flex-wrap: wrap;
          &>div{
            flex:  0 0 50%;
            padding-bottom: 41px;
            padding-right: 46px;
          }
          &>.top{
            padding-top: 25px;
            &::after{
              width: 90%;
            }
          }
       
          &>.bottom{
            padding-left: 25px;
            &::after{
              width: 90%;
            }
          }
          .left{
            padding: 25px 0 0 25px;
            &::after{
              top: 15px;
              height: 90%;
            }
          }
          .right{
          
            &::after{
              height: 90%;
            }
          }
        }
      }
    }
  }
}
